[submodule "nextgenio/SGEMM/gemm_hls"]
	path = nextgenio/SGEMM/gemm_hls
	url = https://github.com/spcl/gemm_hls
[submodule "nextgenio/FFT/Vitis_Libraries"]
	path = nextgenio/FFT/Vitis_Libraries
	url = https://github.com/Xilinx/Vitis_Libraries
[submodule "nextgenio/STREAM/FPGA/HPCC_FPGA"]
	path = nextgenio/STREAM/FPGA/HPCC_FPGA
	url = https://github.com/pc2/HPCC_FPGA
